/*---- Broken Gnu License Box (Want to have resize but it isn't working ----*/
gnulicense {
    border: 2px solid;
    padding: 20px; 
    width: 300px;
    resize: both;
    overflow: auto;
}
table, th, td {
    border: 1px solid black;
  }

tr:nth-child(even), tr:nth-child(odd) {
    color: white;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-image: url("images/background.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #000000;
}
.header{
    background: #000;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #2d00f3;
}
p{
    color: #fdfdfd;
}
h2{
    text-decoration: red;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    color: #fff;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #900000;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0; 
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #5e5e5e;
}
/*---- Background of website ----*/
.header{
    /*background: radial-gradient(#888888, #7c0000);*/
}
.header .row{
    margin-top: 70px;
}
.martstimetable{
    margin: 70px 0;
}
.col-3{
    flex-basis: 20%;
    min-width: 220px;
    margin-bottom: 30px;
    cursor: pointer;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #333333;
}
.col-4{
    flex-basis: 20%;
    padding: 5px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    cursor: pointer;
}
.col-4 img{
    width: 50%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #be0000;
}
.title::after{
    content: '';
    background: #afafaf;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #700000;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #333333;
}
.col-4:hover{
    transform: translateY(-5px);
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff, #241c64);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

/*---- FOOTER ----*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
    text-align: center;
}
.footer-col-1{
    flex-basis: 30%;
    text-align: center;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
    text-align: center;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
    text-align: center;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
    text-align: center;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
    text-align: center;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, col-4{
        flex-basis: 100%;
    }
}
